/*add roboto font*/
/* add some margin to the left of the logo so it's more centre */

* {
    margin: 0;
    padding: 0;
    /* add roboto font styling */
}

:root {
    --yellow: #f0b429;
    --blue-bg-color: #1992d4;
    --white-bg-color: #ffffff;
    --gray-bg-color: #e2e8f0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: var(--white-bg-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top-left {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}


.search-input {
    background-color: var(--gray-bg-color);
    border-radius: 10px;
    border: none;
    height: 2em;
    width: 60%;
}


/* .header-top-left */

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.bell-img,
.account-circle {
    height: 1.5em;
}


.header-bottom-left

.account-circle-left {
    height: 3em;
}

/*.header-bottom-right
*/

.header-bottom-right {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.header-btn {
    color: var(--white-bg-color);
    background-color: var(--blue-bg-color);
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    width: 5em;
    /* make button sizes uniform */
}

.sidebar{
    background-color: var(--blue-bg-color);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.logo-container {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 2.5em;
    fill: var(--white-bg-color);
}

.logo-text {
    color: var(--white-bg-color,white);
    font-size: 2.5em;
}

.link-container-a {
    grid-row: 2 / 3;
    margin-top: 1.5em;
}

.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.sidebar-img {
    height: 1.5em;
    fill: var(--white-bg-color);
}

.sidebar-link {
    color: var(--white-bg-color,white);
    height: 2em;
    text-decoration: none;
}

.link-container-b {
    grid-row: 3 / 4;
    margin-top: 1.5em;
}

.main{
    background-color: var(--gray-bg-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-section {
    grid-area: 1 / 1 / 3 / 2;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* height: 100%; 
    width: 100%; */
}

.project {
    background-color: var(--white-bg-color);
    border-radius: 0.5em;
}

.announcements-container {
    grid-area: 1 / 2 / 2 / 3;
}

/* .trending-container */