* {
    margin: 0;
    padding: 0;
}

:root {
    --yellow: yellow;
    --blue-bg-color: blue;
    --white-bg-color: white;
    --gray-bg-color: gray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header{
    background-color: var(--white-bg-color);
}

.sidebar{
    background-color: var(--blue-bg-color)
}

.main{
    background-color: var(--gray-bg-color);
}