/*add roboto font*/
/* add some margin to the left of the logo so it's more centre */
@font-face {
    font-family: roboto;
    src: url('font/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('font/roboto-variablefont_wdthwght-webfont.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: roboto;
    /* add roboto font styling */
}

:root {
    --yellow: #f0b429;
    --blue-bg-color: #1992d4;
    --white-bg-color: #ffffff;
    --gray-bg-color: #e2e8f0;
    --dark-bg-color: #9da1a8;
    --border-radius: 0.5em;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: var(--white-bg-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top-left {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.magnify-img {
    height: 1.5em;
}

.search-input {
    background-color: var(--gray-bg-color);
    border-radius: 10px;
    border: none;
    height: 2em;
    width: 40%;
}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
}

.bell-img,
.account-circle {
    height: 1.6em;
}

.user-name-right {
    font-size: 1.3em;
}


.header-bottom-left {
    padding-left: 1em;
    display: flex;
    gap: 0.5em;
}

.account-circle-left {
    height: 3em;
    grid-area: 1 / 1 / 3 / 2;
    fill: var(--yellow);
}

span {
    font-size: 0.7em;
    font-weight: normal;
}

/*.header-bottom-right
*/

.header-bottom-right {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.header-btn {
    color: var(--white-bg-color);
    background-color: var(--blue-bg-color);
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    width: 7em;
    /* make button sizes uniform */
}

.sidebar{
    background-color: var(--blue-bg-color);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    padding-left: 1em;
}

.logo-container {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 2em;
    fill: var(--white-bg-color);
}

.logo-text {
    color: var(--white-bg-color,white);
    font-size: 2em;
}

.link-container-a {
    grid-row: 2 / 3;
    margin-top: 1em;
}

.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    gap: 0.6em;
}

.sidebar-img {
    height: 1.3em;
    fill: var(--white-bg-color);
}

.sidebar-link {
    color: var(--white-bg-color,white);
    height: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.link-container-b {
    grid-row: 3 / 4;
    margin-top: 0.5em;
}

.main{
    background-color: var(--gray-bg-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1em;
    gap: 1em;
}

.projects-section {
    grid-area: 1 / 1 / 3 / 2;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.2em;
    /* height: 100%; 
    width: 100%; */
}

.project {
    background-color: var(--white-bg-color);
    border-radius: var(--border-radius);
    border-left: 0.4em solid var(--yellow);
    padding: 1em 0em 1em 1em;
}

.project-content {
    color: var(--dark-bg-color);
    font-size: 0.8em;
}

/* project-imgs-container */

.project-imgs {
    height: 1.2em;
    fill: var(--yellow);
}

.announcements-sections {
    grid-area: 1 / 2 / 2 / 3;
    
}

.announcements-container {
    background-color: var(--white-bg-color);
    border-radius: var(--border-radius);
    padding: 1em 1em 1em 1.6em;
}

.announcement-header {
    font-size: 0.9em;
}

.announcement-text {
    font-size: 0.8em;
    color: var(--dark-bg-color);
}

.trending-container {
    background-color: var(--white-bg-color);
    border-radius: var(--border-radius);
    padding: 0.7em 1em 1em 1.5em;
}

.trending-user {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.8em;
    margin-top: 0.55em;
}

.trending-profile-img {
    height: 2em;
    grid-area: 1 / 1 / 3 / 2;
    fill: var(--yellow);
}

.trending-user-name {
    font-size: 0.9em;
    color: var(--dark-bg-color);
}